In [1]:
# Import librerias utilizadas
import pandas as pd 
# Funcion 1:

df_fc1 = pd.read_csv('funcion_1.csv')

df_funcion1 = pd.DataFrame(df_fc1)

In [2]:
df_funcion1.shape

(343, 4)

In [3]:
# Elimino columna 'Unnamed' no es necesaria
df_final_f1 = df_funcion1.drop('Unnamed: 0', axis=1)

In [4]:
# Funcion 1
def PlayTimeGenre(genero):
    # Convertir el género a minúsculas
    genero = genero.lower()
    
    # Convertir los géneros del dataframe a minúsculas
    df_final_f1['genres'] = df_final_f1['genres'].str.lower()
    
    # Verificar si el género existe en el dataframe
    if genero not in df_final_f1['genres'].unique():
        return "No se encontró el género solicitado"
    
    # Filtrar el dataframe por el género especificado
    df = df_final_f1[df_final_f1['genres'] == genero]
    
    # Encontrar el año con más horas jugadas
    max_year = df.loc[df['Hours_Played'].idxmax(), 'release_year']
    
    return {"Año de lanzamiento con más horas jugadas para Género " + genero : int(max_year)}

In [5]:
resultado1 = PlayTimeGenre('ACTION')
print(resultado1)

{'Año de lanzamiento con más horas jugadas para Género action': 2012}

In [10]:
# Funcion 2
df_fc2 = pd.read_csv('funcion_2.csv')

df_funcion2 = pd.DataFrame(df_fc2)

In [12]:
df_funcion2.shape

(343, 5)

In [13]:
# Elimino columna 'Unnamed' no es necesaria
df_final_f2 = df_funcion2.drop('Unnamed: 0', axis=1)

In [14]:
df_final_f2.head()

   genres            user_id  release_year  Hours_Played
0  Action  76561197966936422          1983          5.52
1  Action          tankmannz          1984          1.97
2  Action    DownSyndromeKid          1988         11.07
3  Action      starfleetbrat          1989          8.23
4  Action  76561198041356854          1990         23.73

In [30]:
def UserForGenre(genero):
    # Filtrar el DataFrame por el género especificado
    df_genero = df_final_f2[df_final_f2['genres'] == genero]

    if df_genero.empty:
        return "No se encontraron registros para el género especificado."

    # Obtener el usuario con más horas jugadas para ese género
    usuario_mas_horas = df_genero[df_genero['Hours_Played'] == df_genero['Hours_Played'].max()]['user_id'].values[0]

    # Agrupar por año y sumar las horas jugadas
    horas_por_anio = df_genero.groupby('release_year')['Hours_Played'].sum().reset_index()

    # Ordenar las filas por año
    horas_por_anio = horas_por_anio.sort_values(by='release_year')

    # Redondear los valores en la lista de acumulación de horas jugadas a 2 decimales
    horas_por_anio['Hours_Played'] = horas_por_anio['Hours_Played'].round(2)

    # Crear una lista de diccionarios con la acumulación de horas jugadas por año
    lista_horas_por_anio = [{"Año": anio, "Horas": horas} for anio, horas in zip(horas_por_anio['release_year'], horas_por_anio['Hours_Played'])]

    # Crear el diccionario de retorno
    resultado = {"Usuario con más horas jugadas para " + genero: usuario_mas_horas, "Horas jugadas": lista_horas_por_anio}

    return resultado

In [31]:
resultado2 = UserForGenre('Action')
print(resultado2)

{'Usuario con más horas jugadas para Action': 'theoriginalmasta', 'Horas jugadas': [{'Año': 1983, 'Horas': 5.52}, {'Año': 1984, 'Horas': 1.97}, {'Año': 1988, 'Horas': 11.07}, {'Año': 1989, 'Horas': 8.23}, {'Año': 1990, 'Horas': 23.73}, {'Año': 1991, 'Horas': 12.68}, {'Año': 1992, 'Horas': 10.08}, {'Año': 1993, 'Horas': 58.12}, {'Año': 1994, 'Horas': 92.32}, {'Año': 1995, 'Horas': 173.84}, {'Año': 1996, 'Horas': 130.98}, {'Año': 1997, 'Horas': 111.32}, {'Año': 1998, 'Horas': 1281.65}, {'Año': 1999, 'Horas': 2503.53}, {'Año': 2000, 'Horas': 5939.68}, {'Año': 2001, 'Horas': 2513.72}, {'Año': 2002, 'Horas': 214.0}, {'Año': 2003, 'Horas': 3142.2}, {'Año': 2004, 'Horas': 7987.68}, {'Año': 2005, 'Horas': 1351.88}, {'Año': 2006, 'Horas': 4241.37}, {'Año': 2007, 'Horas': 1879.74}, {'Año': 2008, 'Horas': 3680.5}, {'Año': 2009, 'Horas': 6359.15}, {'Año': 2010, 'Horas': 5265.02}, {'Año': 2011, 'Horas': 6851.11}, {'Año': 2012, 'Horas': 7873.46}, {'Año': 2013, 'Horas': 6826.03}, {'Año': 2014, 'Horas': 4977.58}, {'Año': 2015, 'Horas': 5208.53}, {'Año': 2016, 'Horas': 6531.08}, {'Año': 2017, 'Horas': 3538.0}, {'Año': 2018, 'Horas': 5.7}]}

In [17]:
# FUNCION 3 Y 4
df_fc3_4 = pd.read_csv('funcion_3_4.csv')

df_funcion3_4 = pd.DataFrame(df_fc3_4)

In [18]:
# Elimino columna 'Unnamed' no es necesaria
df_final_f3_4 = df_funcion3_4.drop('Unnamed: 0', axis=1)

In [19]:
df_final_f3_4.head()

       id                 title  Item_id  Recommend  Year_Posted
0  282010  Carmageddon Max Pack   282010       True         2015
1      70             Half-Life       70       True         2013
2      70             Half-Life       70       True         2014
3      70             Half-Life       70       True         2013
4      70             Half-Life       70       True         2015

In [20]:

def UsersRecommend(year: int):
    # Verifica si el año está en el dataframe
    if year not in df_final_f3_4['Year_Posted'].unique():
        return "No se encuentra el año solicitado"
    
    # Filtra el dataframe por el año y las recomendaciones
    df_filtered = df_final_f3_4[(df_final_f3_4['Year_Posted'] == year) & (df_final_f3_4['Recommend'] == True)]
    
    # Cuenta las recomendaciones por juego
    recommend_counts = df_filtered['title'].value_counts()
    
    # Obtiene el top 3 de juegos más recomendados
    top_3 = recommend_counts.nlargest(3)
    
    # Crea una lista para almacenar los resultados
    results = []
    
    # Itera sobre el top 3 y añade cada juego a los resultados
    for i, (game, count) in enumerate(top_3.items(), start=1):
        results.append({f"Puesto {i}": game})
    
    return results

In [21]:
resultado3 = UsersRecommend(2012)
print(resultado3)

[{'Puesto 1': 'Team Fortress 2'}, {'Puesto 2': 'Terraria'}, {'Puesto 3': 'Left 4 Dead 2'}]

In [22]:
def UsersNotRecommend(year: int):
    # Verifica si el año está en el dataframe
    if year not in df_final_f3_4['Year_Posted'].unique():
        return "No se encuentra el año solicitado"
    
    # Filtra el dataframe por el año y las no recomendaciones
    df_filtered = df_final_f3_4[(df_final_f3_4['Year_Posted'] == year) & (df_final_f3_4['Recommend'] == False)]
    
    # Cuenta las no recomendaciones por juego
    not_recommend_counts = df_filtered['title'].value_counts()
    
    # Obtiene el top 3 de juegos menos recomendados
    top_3 = not_recommend_counts.nlargest(3)
    
    # Crea una lista para almacenar los resultados
    results = []
    
    # Itera sobre el top 3 y añade cada juego a los resultados
    for i, (game, count) in enumerate(top_3.items(), start=1):
        results.append({f"Puesto {i}": game})
    
    return results

In [23]:
resultado4 = UsersNotRecommend(2010)
print(resultado4)

[{'Puesto 1': 'Team Fortress 2'}]

In [24]:
# Funcion 5

df_fc5 = pd.read_csv('funcion_5.csv')

df_funcion_5 = pd.DataFrame(df_fc5)

In [25]:
df_funcion_5.head()

   Unnamed: 0  release_year      id  Item_id  sentiment_analysis
0           0          1997  282010   282010                   2
1           1          1998      70       70                   2
2           2          1998      70       70                   0
3           3          1998      70       70                   2
4           4          1998      70       70                   2

In [26]:
# Elimino columna 'Unnamed' no es necesaria
df_final_5 = df_funcion_5.drop('Unnamed: 0', axis=1)

In [27]:
df_final_5.head()

   release_year      id  Item_id  sentiment_analysis
0          1997  282010   282010                   2
1          1998      70       70                   2
2          1998      70       70                   0
3          1998      70       70                   2
4          1998      70       70                   2

In [28]:
def sentiment_analysis(year: int):

    # Verifica si el año está en el dataframe
    if year not in df_final_5['release_year'].unique():
        return "No se encuentra el año solicitado"
    # Filtrar el dataframe por el año dado
    df_año = df_final_5[df_final_5['release_year'] == year]
    
     # Contar los valores de 'sentiment_analysis'
    sentiment_counts = df_año['sentiment_analysis'].value_counts()
    
    # Crear un diccionario para almacenar los resultados
    results = {}
    
    # Mapear los valores de 'sentiment_analysis' a sus respectivas categorías
    for i in sentiment_counts.index:
        if i == 0:
            results['Negative'] = int(sentiment_counts[i])
        elif i == 1:
            results['Neutral'] = int(sentiment_counts[i])
        elif i == 2:
            results['Positive'] = int(sentiment_counts[i])
    
    return results

In [29]:
# Llamar a la función con un año de prueba
resultados5 = sentiment_analysis(2012)

print(resultados5)

{'Positive': 1862, 'Negative': 348, 'Neutral': 68}